- flash.each do |name, message|
  - if message.is_a?(String)
    %div{:class => "alert alert-#{ name == :notice ? "success" : "error" } " }
      %a.close("data-dismiss" => "alert } x
      = content_tag :div, message, :id => "flash_#{name}"